<!DOCTYPE html>
<html>

<style>
.chart div {
  font: 20px sans-serif;
  background-color: blue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}
</style>

<h1><a href="/home">Back Home</a></h1>
<h2>Twitter play ground!</h2>
<form method="GET" action="/tweets_hashtag">
  <label>Twitter keyword search:
    <input style="width:200px" type="text" name="q" placeholder="keyword here" /></label>
  <button style="width:200px">See Tweets with your tag!</button>
</form>

<h1>Someone has already searched for this keyword less than an hour ago, so I'm showing you our existing report instead of making a new search!</h2>

<h2>Key word: <%= @search_word %></h2>
<h2>Total tweets received: <%= @saved_report.total_tweets %></h2>
<h2>Shortest tweet word count is <%= @saved_report.min_word_count %></h2>
<h2>Longest tweet word count is <%= @saved_report.max_word_count %></h2>
<h2>Average words <%= @saved_report.average_word_count %></h2>
<h2>Report time <%= @saved_report.created_at %></h2>

<div class="chart">
</div>

<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<%= include_gon %>
<script src="/js/d3.js"></script>

</html>
